{{#if posts.length}}
<h1 class="welcome">Here are all your posts, {{firstInArrayUsername posts}}!</h1>

<h2 class="your-posts">Your posts</h2>
<div class="create-new-post">
  <button>
    <a href="/create-post">Create a new post</a>
  </button>
</div>
  <div class="post-list">
  {{#each posts as |post|}}
    <div class="post-header post-list-dashboard">
      <h3>
        <a href="/post/{{post.id}}">{{post.title}}</a>
      </h3>
      <div>
        <span class="post-details">{{format_dates post.created_at}}</span>
        |
        <a href="/dashboard/edit/{{post.id}}">Edit Post</a>
      </div>
    </div>
  {{/each}}
  </div>
{{else}}
<h1 class="welcome">You have no posts!</h1>
<div class="create-new-post">
  <button>
    <a href="/create-post">Create a new post</a>
  </button>
</div>
{{/if}}